.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: white !important;
}
.ant-btn-primary,
.ant-btn {
  border: none !important;
  background: transparent !important;
  text-shadow: none !important;
  box-sizing: none !important;
}

.ant-drawer-content {
  background: transparent !important;
  backdrop-filter: blur(16px);
}

.bg-blur {
  background: transparent !important;
}

.bg-blur:hover {
  backdrop-filter: blur(62px);
  color: white !important;
}

.ant-drawer-mask {
  background: transparent !important;
}

.ant-drawer-header {
  border-bottom: 1px solid #00000067 !important;
}

.spin {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#pause-spin {
  animation-play-state: paused;
}
