@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

p {
  margin-bottom: 0 !important;
}

html {
  --antd-wave-shadow-color: white !important;
}
